<div class="container">
  <h1><%= sku.name %></h1>
  <h3><%= sku.title %></h3>
  <hr>
  <h3>contact: <%= sku.email %></h3>

  <a class="btn btn-medium btn-primary" href="/sku/edit/<%= sku.id %>">Edit</a>

</div>
